<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.learn">
    <!--
    访问 http://developer.android.com/reference/android/Manifest.permission.html
    可以查看 Android 系统所有可声明的权限。
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission. SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 百度地图权限  begin -->
    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.test.learn.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.test.learn.activity.sensor.CompassTestActivity"></activity>
        <activity android:name="com.test.learn.activity.sensor.AccelerometerSensoActivity" />
        <activity android:name="com.test.learn.activity.sensor.LightSensorActivity" />
        <activity android:name="com.test.learn.activity.Location.BDMapTestActivity" />
        <activity android:name="com.test.learn.activity.Location.LocationTestActivity" />
        <activity android:name="com.test.learn.activity.newwork.PullTestActivity" />
        <activity android:name="com.test.learn.activity.newwork.NetworkTestActivity" />
        <activity android:name="com.test.learn.activity.webview.WebViewTestActivity" />
        <activity android:name="com.test.learn.activity.service.LongRunningServiceActivity" />
        <activity android:name="com.test.learn.activity.service.ServiceTestActivity" />
        <activity android:name="com.test.learn.activity.thread.UpdateUiActivity" />
        <activity android:name="com.test.learn.activity.playaudio.PlayVideoActivity" />
        <activity android:name="com.test.learn.activity.playaudio.PlayAudioActivity" />
        <activity android:name="com.test.learn.activity.choosepic.ChoosePicActivity" />
        <activity android:name="com.test.learn.activity.sms.SmSMainActivity" />
        <activity android:name="com.test.learn.activity.notification.NotivicationMainActivity" />
        <activity android:name="com.test.learn.activity.contact.ContactMainActivity" />
        <activity android:name="com.test.learn.activity.database.DatabaseMainActivity" />
        <activity android:name="com.test.learn.activity.filepersistence.SharedPreferencesActivity" />
        <activity android:name="com.test.learn.activity.filepersistence.FilePersistenceActivity" />
        <activity android:name="com.test.learn.activity.login.LoginActivity" />
        <activity android:name="com.test.learn.activity.broadcast.BroadcastMainActivity" />
        <activity android:name="com.test.learn.activity.news.NewsListActivity" />
        <activity android:name="com.test.learn.activity.news.NewsContentActivity" />
        <activity android:name="com.test.learn.activity.chat.ChatActivity" />
        <activity android:name="com.test.learn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.test.learn.broadcastreceiver.startingup.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.test.learn.broadcastreceiver.standard.MyBroadcastReceiver">

            <!--
            可以看到，我们通过 android:priority 属性给广播接收器设置了优先级，优先级比较高的
            广播接收器就可以先收到广播。这里将MyBroadcastReceiver的优先级设成了100，以保证它 一定会在
            AnotherBroadcastReceiver 之前收到广播。
            -->
            <intent-filter android:priority="100">
                <action android:name="com.example.learnandroid.broadcastreceiver.standard.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.test.learn.broadcastreceiver.orderly.AnotherBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.learnandroid.broadcastreceiver.standard.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.test.learn.broadcastreceiver.standard.ForceOfflineReceiver">
            <intent-filter>
                <action android:name="com.example.learnandroid.broadcastreceiver.standard.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.test.learn.contentprovider.DatabaseProvider"
            android:authorities="com.test.learn.contentprovider" />

        <service android:name="com.test.learn.service.MyService" />
        <service android:name="com.test.learn.service.MyIntentService" />
        <service android:name="com.test.learn.service.LongRunningService" />

        <receiver android:name="com.test.learn.activity.service.AlarmReceiver" /> <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BfHSi9Y0GCxkpLGf4Kbvtlna0WZe9IRB" /> <!-- 定位的service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>